#calbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
input[type="button"] {

    width:40px;
    height: 40px;
    margin: 4px;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: block;
}
.container{
    background-color:grey;
    height: auto;
    width: auto;
    border-radius: 6px;
}
#a{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    color: black;
    background-color: aliceblue;
}